<form action="">
  <h2>Atualizar Jogo</h2>

  <mat-form-field class="form">
    <mat-label class="mat-form-field-label">Nome</mat-label>
    <input matInput class="campo" [(ngModel)]="jogo.nome" type="text" name="nome" />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Descrição</mat-label>
    <input matInput class="campo" [(ngModel)]="jogo.descricao" type="text" name="descricao" />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Opção</mat-label>
    <select matNativeControl [(ngModel)]="jogo.idcategoria" class="campo" name="opcao">
      <option *ngFor="let opcao of opcoes" [value]="opcao.id">{{ opcao.nome }}</option>
    </select>
  </mat-form-field>

  <div class="buttons">
    <button (click)="edit()" mat-stroked-button class="btnAtualizar">
      Atualizar
    </button>
    <button (click)="cancel()" mat-stroked-button class="btnCancelar">
      Cancelar
    </button>
  </div>
</form>
